@font-face {
  font-family: 'Press Start 2P';
  src: url('PressStart2P-Regular.ttf') format('truetype');
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}


html, body {
    font-family: 'Press Start 2P', cursive;
    height: 100%;
    background-color: black;
    position: relative;
    overflow-x: hidden;
    -webkit-scrollbar: none;
    
  }


.animate-typing {
    color: #ffffff;
    text-shadow: 0 0 5px red,
         0 0 10px red, 
         0 0 20px red, 
         0 0 30px red, 
         0 0 40px red, 
         0 0 55px red, 
         0 0 70px red;

}

#connected {
  margin-top: 25px;
  margin-left: 50px;
  font-size: 27px;
  font-stretch: narrower;

}

#redirection {
  margin-top: 50px;
  margin-left: 25px;
  font-size: 20px;
  font-stretch: narrower;

}

#continue {
  margin-left: 650px;
  margin-top: 340px;
}

#log {
  font-size: 12px;
  margin-top: 25px;
  line-height: 30px;
  
}
